body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: rgba(0, 0, 0, 0.616);
    transition: background 0.3s;
}

header.scrolled {
    background: rgba(255, 255, 255, 0.9);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    width: 100%;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #E91E63;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin-right: 150px;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

header.scrolled .navbar ul li a {
    color: black;
}

.hero {
    position: relative;
    top: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 24px;
    margin-bottom: 40px;
}

.countdown {
    text-align: center;
    padding: 50px 0;
    background: #f7f7f7;
}

.countdown h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-timer .time-box {
    margin: 0 10px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.countdown-timer .time-box span {
    display: block;
    font-size: 48px;
    font-weight: bold;
}

.countdown-timer .time-box p {
    font-size: 16px;
    margin: 0;
    color: #666;
}

.about-us {
    background-color: white;
    text-align: center;
    padding: 50px 0;
}

.about-us h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-department {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background-color: #000000;
    gap: 30px;
    margin: 20px 20px 0px 20px;
}

.department-photo {
    flex: 1;
    max-width: 400px;
}

.department-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(176, 174, 174, 0.1);
}

.department-description {
    flex: 2;
}

.department-description h3 {
    margin-bottom: 15px;
    color: white;
}

.department-description p {
    line-height: 1.6;
    color: white;
}

.container-1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    margin: 0 0 20px 0px;
    padding: 2em;
}

.card-container {
    filter: drop-shadow(46px 36px 24px #4090b5) drop-shadow(-55px -40px 25px #9e30a9);
    animation: blinkShadowsFilter 8s ease-in infinite;
    margin-left: 85px;
}

.card-content {
    display: grid;
    align-content: center;
    justify-items: center;
    text-align: center;
    padding: 1em;
    grid-template-rows: auto 1fr auto;
    background-color: hsl(296, 59%, 10%);
    width: 10em;
    aspect-ratio: 9/16;
    position: relative;
    clip-path: polygon(0 0, 85% 0, 100% 14%, 100% 60%, 92% 65%, 93% 77%, 99% 80%, 99% 90%, 89% 100%, 0 100%);
}

.card-content::before {
    content: "";
    position: absolute;
    width: 250%;
    aspect-ratio: 1/1;
    transform-origin: center;
    background: linear-gradient(to bottom, transparent, transparent, #66e0ff, #66e0ff, #e366ff, #e366ff, transparent, transparent), linear-gradient(to left, transparent, transparent, #66e0ff, #66e0ff, #e366ff, #e366ff, transparent, transparent);
    animation: rotate 5s infinite linear;
}

.card-content::after {
    content: "";
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    background: repeating-linear-gradient(to bottom, transparent 0%, rgba(64, 144, 181, 0.6) 1px, rgb(0, 0, 0) 3px, rgba(64, 144, 181, 0.3019607843) 5px, #153544 4px, transparent 0.5%), repeating-linear-gradient(to left, hsl(295, 60%, 12%) 100%, hsla(295, 60%, 12%, 0.99) 100%);
    box-shadow: inset 0px 0px 30px 40px hsl(296, 59%, 10%);
    clip-path: polygon(0 0, 85% 0, 100% 14%, 100% 60%, 92% 65%, 93% 77%, 99% 80%, 99% 90%, 89% 100%, 0 100%);
    animation: backglitch 94ms linear infinite;
}

.card-title {
    z-index: 80;
    clip-path: polygon(90% 0, 100% 100%, 0% 100%, 0% 0%);
    background: linear-gradient(90deg, rgba(255, 254, 250, 0) 0%, rgba(102, 224, 255, 0.3) 27%, rgba(102, 224, 255, 0.3) 63%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(102, 224, 255, 0.3) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 96%, rgba(102, 224, 255, 0.3) 100%);
    width: 98%;
    font-size: 1.2em;
}

.title {
    width: 100%;
    height: 100%;
    text-align: right;
    position: relative;
    z-index: 2;
    color: hsl(192, 100%, 88%);
    font-size: 1em;
    transition: all ease-in-out 2s linear;
}

.card-body {
    z-index: 80;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body button {
    padding: 10px;
    border-radius: 20px;
    background-color: #E91E63;
    color: #ffffff;
}

@keyframes backglitch {
    0% {
        box-shadow: inset 0px 20px 30px 40px hsl(296, 59%, 10%);
    }

    50% {
        box-shadow: inset 0px -20px 30px 40px hsl(296, 59%, 10.2%);
    }

    to {
        box-shadow: inset 0px 20px 30px 40px hsl(296, 59%, 10%);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate(-50%, 20%);
    }

    50% {
        transform: rotate(180deg) translate(40%, 10%);
    }

    to {
        transform: rotate(360deg) translate(-50%, 20%);
    }
}

@keyframes blinkShadowsFilter {
    0% {
        filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #9e30a9);
    }

    25% {
        filter: drop-shadow(46px -36px 24px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 24px #9e30a9);
    }

    50% {
        filter: drop-shadow(46px 36px 30px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 30px rgba(159, 48, 169, 0.2941176471));
    }

    75% {
        filter: drop-shadow(20px -18px 25px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.2941176471));
    }

    to {
        filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #9e30a9);
    }
}
.schedules{
    display: flex;
    justify-content: space-around;
    padding: 70px 0;
    background-color: #E91E63;
}

.schedules .location, .schedules .time, .schedules .refreshments{
    text-align: center;
}

.prize-pool h1,p{
    text-align: center;
}

.prize-winners{
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.third-prize{
    text-align: center;
    border-radius: 10px;
    padding: 100px 100px;
    background-color: rgb(137, 132, 132);
}

.first-prize{
    text-align: center;
    border-radius: 10px;
    padding: 100px 100px;
    background-color: #c8c4c4;
}

.second-prize{
    text-align: center;
    border-radius: 10px;
    padding: 100px 100px;
    background-color: #666;
}

.faq-container {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.faq-content a{
    text-decoration: none;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
}

details {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}

summary {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease;
}

details[open] summary {
    color: #E91E63;
}

summary::-webkit-details-marker {
    display: none;
}

.faq-content {
    padding-top: 10px;
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

details[open] .faq-content {
    max-height: 500px;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 30px 0;
    text-align: left;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-section {
    padding: 0 20px;
    min-width: 200px;
}

.footer-section h2 {
    margin-bottom: 10px;
    color: #fff;
}

.footer-section p,
.footer-section a {
    color: #bbb;
}

.footer-section a:hover {
    color: #fff;
}

.logo-text span {
    color: #e91e63;
    font-size: 24px;
    font-weight: bold;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.links ul li a {
    text-decoration: none;
    color: #bbb;
}

.links ul li a:hover {
    color: #fff;
}

.contact{
    text-align: left;
}

.socials a {
    margin-right: 10px;
    color: #bbb;
    display: inline-block;
}

.socials a:hover {
    color: #fff;
}

.socials img {
    width: 40px;
    height: 40px;
    transition: filter 0.3s;
}

.socials img:hover {
    filter: brightness(1.2);
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
    margin-top: 10px;
}

.quote{
    position: relative;
    left: -20px;
}
